{{!-- <!-- <div class="map-canvas"></div> --> --}}

<button {{action 'showMap'}}>Show Map</button>

<div class="map-display"></div>

{{!-- <h2 id="title">My Map Component</h2>
{{google-map latitude="34.851939" longitude="-82.399752"}} --}}

{{!-- <div id="map"></div> --}}
