<div class="container">
  <h3>Star Gazing Somwhere?</h3>
  <div class="weather-api">
    <form {{action 'getWeather' on='submit'}}>
      <div class="form-group">
        <label for="city" placeholder="Enter the closest city to your event">City:</label>
        {{input value=city id='city' required='required'}}
      </div>
      <button class="btn weather-api-button">Submit</button>
    </form>
  </div>
  <div class="">

  </div>
</div>
