<div class="container">
  <h3 class="weather-subtitle">Star Gazing Somewhere?</h3>
  <div class="weather-input">
    <div>
      <form {{action 'getWeather' on='submit'}}>
        <div class="form-group">
          <label for="city">City:</label>
          {{input value=city id='city' required='required' placeholder="Enter the closest city to your event"}}
        </div>
        <button class="btn">Submit</button>
      </form>
    </div>
  </div>
  <div class="">

  </div>
</div>
