body {
  background: url(/images/sky-background.png) no-repeat center center fixed;
  origin background-size: cover;
  background-size: cover;
  height: 1400px;
}

button {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid white;
  color: #fff;
  margin: 10px 0 10px 10px;
  padding: 7px 6px 7px 6px;
  z-index: 99;
}

h1 {
  position: relative;
  top: 100px;
  margin-left: 20px;
}

h1,h3 {
  font-family: 'Poiret One', cursive;
  color: #fff;
  font-size: 4em;
  margin-left: 20px;
}

h2,h4,h5,h6,p,label,li {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

h3 {
  font-size: 3em;
}

h4 {
  margin-left: 30px;
  float: left;
}

li {
  font-size: 1em;
}

label {
  font-size: 1.5em;
  margin-right: 5px;
}

input {
  padding: 8px 20px 8px 0px;
}

.page {
  margin: 30px;
}

.ember-cli-g-map {
  height: 65vh;
  width:90vw;
  margin: 20px 30px 20px 30px;
}

.locationImage {
  width: 40vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.location-display {
  width: 50vw;
  height: auto;
  margin-left: 50%;
}


.add-location-display {
  width: 50vw;
  height: auto;
  margin-left: 50%;
}

.pnw-tile {
  opacity: .3;
}

.weather-subtitle {
  margin-right: 40px;
  float:right;
}

.weather-input {
  margin-left: 70%;
  margin-right: 40px;
  float:right;
}

.weather-button {
  margin-left: 53%;
  margin-right: 40px;
  float:right;
}

#map-title {
  position: relative;
  bottom: 60px;
  width: 500px;
}

.results {
  margin-top: 100px;
}

.navigation {
  color: #fff;
  margin-left: 20px;
}

.navigation:hover {
  color: wheat;
}

/*Media Queries*/
@media only screen and (max-width:2560px) {
  .weather-subtitle {
    margin-left: 20%;
    margin-bottom: 60px;
  }

  .weather-input {
    margin-left: 80%;
  }

  .weather-button {
    margin-left: 65%;
  }
}

@media only screen and (max-width:1240px) {
  .weather-subtitle {
    margin-left: 30%;
    margin-bottom: 60px;
  }

  .weather-input {
    margin-left: 75%;
  }

  .weather-button {
    margin-left: 52%;
  }
}

@media only screen and (max-width:1199px) {
  .weather-subtitle {
    margin-left: 26%;
    margin-bottom: 60px;
  }

  .weather-input {
    margin-left: 70%;
  }

  .weather-button {
    margin-left: 53%;
  }
}

@media only screen and (max-width:991px) {
  .weather-subtitle {
    margin-left: 20%;
    margin-bottom: 60px;
  }

  .weather-input {
    margin-left: 35%;
  }

  .weather-button {
    margin-left: 32%;
  }
}

@media only screen and (max-width:667px) {
  .weather-subtitle {
    margin-left: 30%;
    margin-bottom: 60px;
  }

  .weather-input {
    margin-left: 30%;
  }

  .weather-button {
    margin-left: 25%;
  }
}

@media only screen and (max-width:568px) {
  .weather-subtitle {
    margin-left: 23%;
    margin-bottom: 60px;
  }

  .weather-input {
    margin-left: 24%;
  }

  .weather-button {
    margin-left: 28%;
  }
}

@media only screen and (max-width:480px) {
  .weather-button {
    margin-left: 34%;
  }
}
