button {
  margin: 10px;
}

.page {
  margin: 30px;
}

.ember-cli-g-map {
  height: 80vh;
  width:90vw;
}

.locationImage {
  width: 40vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.location-display {
  width: 50vw;
  height: auto;
  margin-left: 50%;
}

.tile {
  opacity: 0.5;
}
