h2 {
  margin-bottom: 20px;
}

button {
  margin-bottom: 20px;
}

.page {
  margin: 3vw;
  margin-top: 30px;
}

.map-display {
  height: 80vh;
  width: 94vw;
}

.ember-cli-g-maps {
  height: 300px;
}
