
{{weather-api getWeather="getWeather"}}

{{g-maps name="my-map" lat=lat lng=lng zoom=zoom overlays=overlays scrollwheel=false showZoomControl=false disableDoubleClickZoom=true}}


<div class="weather">
</div>
<div class="add-location-display">
  {{new-location saveLocation="saveLocation"}}
</div>
<div class="location-display">
  {{#each model as |location|}}
    {{location-tile location=location increaseScore="increaseScore" decreaseScore="decreaseScore"}}
  {{/each}}
</div>
