
{{weather-api getWeather="getWeather"}}

{{g-maps name="my-map" lat=lat lng=lng zoom=zoom overlays=overlays scrollwheel=false}}


<div class="weather">
</div>

<div class="location-display">
  {{#each model as |location|}}
    {{location-tile model=location}}
  {{/each}}
</div>
