
{{skyglow-map}}

<div class="weather">
</div>
<div class="add-location-display">
  {{new-location saveLocation="saveLocation"}}
</div>
<div class="location-display">
  {{#each model as |location|}}
    {{location-tile model=location}}
  {{/each}}
</div>
